{% extends "base.html" %}

{% block app_content %}
    <h1>Self Service Infrastructure</h1>
    <p> The User is being created. Please wait for some minutes. </p>

    <table class="table">
        <thead>
             <th>Time</th>
             <th>Server</th>
             <th>Status</th>
        </thead>
        <tbody>
            {% for result in task_results %}
               <tr>
                 <td>{{ result.timestamp }}</td>
                 <td>{{ result.server }}</td>
                 <td>{{ result.body }}</td>
               </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
