{% extends "base.html" %}

{% block app_content %}
    <h1>Create User</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {{ form.uid.label }}<br>
            {{ form.uid(size=32) }}<br>
            {{ form.groups.label }}<br>
            {{ form.groups(size=32) }}<br>
            {{ form.servers.label }} <br>
            {{ form.servers(rows=num_server_rows, multiple=True, size=num_server_rows) }}<br>
            {{ form.public_key.label  }}<br>
            {{ form.public_key(cols="32", rows="5") }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
