{% extends "base.html" %}

{% block app_content %}
    <h1>Self Service Infrastructure</h1>
    <p> In this page you will will find our infrastructure services. </p>
    <p> Serve yourself! </p>
{% endblock %}
